.menuContainer {
    background-color: #D7B629;
    min-width: 180px;
    padding: 10px;
    position: relative;
    transition: min-width .5s ease-in-out;
    position: absolute;
    top: 297px;
    height: 100vh;
}

.closeMenu {
    min-width: 1%;
    transition: min-width .5s ease-in-out;
}
.closeIcon {
    background-color: white;
    font-size: 40px;
    border-radius: 20%;
    position: absolute;
    right: -20px;
    cursor: pointer;
}

.menuIsClosed {
    display: none;

}

.titleMenu {
    color: black;
    font-size: 50px;
    margin: 12px 0px 28px 12px;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
}

.linksMenu {
    color: white;
    display: block;
    font-size: 20px;
    text-decoration: none;
    margin: 12px;
    font-family: 'Anton', sans-serif;
}
