.city {
   font-weight: 800;
   color: #293462;
   text-transform: uppercase;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: 'Teko', sans-serif;
   font-size: 20px;
}

.container {
    border: 1px solid #293462;;
    padding: 10px;
    display: inline-block;
    width: 136px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 10px 16px 19px -5px rgb(25 52 107);
    font-size: 12px;
}

.leagueContainer {
    display: flex;
    flex-wrap: wrap;
}

.league {
    color: #F32424;
    font-family: 'Teko', sans-serif;
    font-size: 18px;
}

.description {
    font-family: 'Anton', sans-serif;
}

.titleDescription {
    display: flex;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    background-color: #44aaea7c;
    padding: 10px;
    margin: 0;
    height: 23px;
    align-items: center;
    width: 845px;
    margin-bottom: 30px;
}
.content {
    width: 100%;
}

@media only screen and (max-width: 1350px) {
 .titleDescription {
    width: 500px;
 }
}

@media only screen and (max-width: 850px) {
    .titleDescription {
       width: 300px;
    }
    .container {
        width: 115px;
    }
}
@media only screen and (max-width: 755px) {
    .container {
        width: 110px;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        width: 90px;
    }
    .league {
        margin: 0 5px;
    }
    .description {
        margin: 0;
    }
}