
.titleDescription {
    font-weight: 800;
    display: inline-block;
    margin-right: 10px;
    color:#003e8f;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    margin: 0;
    background-color: #44aaea7c;
}

.description {
    display: inline-block;
    font-family: 'Anton', sans-serif;
    font-size: 13px;
    margin-top: 0;
}

.listItemsContainer {
    margin-right: 110px;
}