.teamsContainer {
    margin: 20px 40px;
}

.title {
    text-transform: uppercase;
    color:#003e8f;
    font-family: 'Teko', sans-serif;
    text-align: center;
}
.listContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1.5px solid #112B3C;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
}

.logo{
    width: 5%; 
    background-color: white;
}

.listContainer:hover .logo {
    transition: all .5s ease-in-out;
    -webkit-transform:scale(1.3);transform:scale(3);
}

.TitleDescription {
    display: inline-block;
    font-weight: 800;
    color: #003e8f;
    font-family: 'Teko', sans-serif;
    font-size: 20px;

}

.description {
    display: inline-block;
    font-family: 'Anton', sans-serif;
}

