.playersContainer {
    margin: 20px 40px;
}

.title {
    text-transform: uppercase;
    color:#003e8f;
    font-family: 'Teko', sans-serif;
    text-align: center;
}

.listContainer {
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid #112B3C;
    cursor: pointer;
    padding: 5px;
    justify-content: space-between;
}

.listContainer:hover {
    background-color: #0b71b0bf;
}

.linkPlayers {
    text-decoration: none;
    font-size:20px;
    font-family:'Teko', sans-serif;
    text-align: center;
    width:96px;
    height:30px;
    color:rgb(243, 9, 9);
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    box-shadow: 16px 14px 16px -7px #003e8f;
    border-radius: 8px;
}

.linkPlayers:hover {
    color: white;
    font-size: 25px;
}

.playerPageErrorImg {
    margin: 0px 100px 0px 41px;
}

.listTitles {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    background-color: #44aaea7c;
    padding: 10px;
    margin: 0;
    height: 23px;
    align-items: center;
}