.text {
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin: 30px 113px;
}

@media only screen and (max-width: 840px) {
    .text {
        text-align: start;
        margin: 20px 90px 0px 117px;
    }
}